// Place all the styles related to the api::sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#background {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(30, 38, 47);
  background-size: cover;
  min-width: 100%;
  min-height: 100%;
  overflow: scroll;
}

.home-page {
  height: 100%;
  width: 100%;
}

.home-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  font-family: 'Roboto', sans-serif;
  color: white;
}

.welcome-message-session{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-family: 'Open Sans',sans-serif,'Roboto', sans-serif;
  margin-bottom: 30px;
  h1 {
    font-size: 80px;
  }
  h3 {
    font-size: 32px;
    color: rgb(110, 152, 204);
  }
}

.frontpage-article {
  display: flex;
  flex-direction: column;
  background-color: rgb(240, 240, 240);
  font-family: 'Open Sans',sans-serif,'Roboto', sans-serif;
  font-size: 30px;
  width: 800px;
  border-radius: 5px;
  h3 {
    color: rgb(120, 120, 120);
    overflow-wrap: break-word;
    margin: 15px;
  }
}

.session-image-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 800px;
  height: 400px;
  overflow: hidden;
  img {
    width: 810px;
  }
}

.slide-controller {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: absolute;
}

.slide-arrow {
  background: grey;
  opacity: 0.8;
}

.frontpage-article:hover {
  cursor: pointer;
}

.main-portal {
  margin: auto;
  width: 650px;
  border: 1px solid #e2e2e3;
  top: 20%;
  position: absolute;
  left: 0;
  right: 0;
}

.title{
  font-weight: 600;
  vertical-align: center;
  margin: 10px 120px 20px 120px;
  text-align: center;
  color: rgba(38, 139, 210, 1);
  font-family: 'Open Sans',sans-serif,'Roboto', sans-serif;
  font-size: 75px;
}

.tagline {
  font-size: 25px;
  font-weight: 400;
  font-family: 'Open Sans',sans-serif;
  margin: 8px 0 20px;
  color: rgba(0, 0, 0, 0.4);
  text-align: center;
}

.main-portal {
  margin: auto;
  background: #fff;
  border: 1px solid #e2e2e2;
  border-radius: 4px;
  width: 650px;
}

.session-form-container {
  display: flex;
  padding: 32px;
}

.login-form {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  position: relative;
  padding-left: 32px;
  float: left;
  width: 261px;
    h2 {
      font-family: 'Open Sans',sans-serif;
      font-weight: 700;
    }
}

.login-input {
  width: 100%;
  background-color: #eee;
  font-size: 15px;
  line-height: 1.4;
  padding-left: 8px;
  padding-right: 8px;
  min-height: 32px;
  margin-bottom: 8px;
  padding: 3px 5px;
  height: 15px;
  border: 1px solid #e2e2e2;
  border-radius: 3px;
}

.login-column {
  display: flex;
  justify-content: space-between;
}

h2 {
  font-size: inherit;
}

label {
  font-size: 11px;
  color: #666;
  text-transform: uppercase;
  letter-spacing: .5px;
  font-weight: bold;
  margin-bottom: 5px;
}

.signup-form {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  padding-right: 32px;
  float: left;
  width: 261px;
  border-right: 1px solid #e2e2e2;
    h2 {
      font-family: 'Open Sans',sans-serif;
      font-weight: 700;
    }
}

.firstname-lastname {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.firstname {
  padding-right: 8px;
  display: flex;
  flex-direction: column;
  width: 46%;
}

.lastname {
  display: flex;
  flex-direction: column;
  width: 46%;
}

.user {
  display: flex;
  flex-direction: column;
}

.login-user {
  display: flex;
  flex-direction: column;
}

.login-password {
  display: flex;
  flex-direction: column;
}

.password {
  display: flex;
  flex-direction: column;
}

.login-button {
  float: right;
  font-size: 15px;
  line-height: 1.4;
  font-weight: 500;
  outline: 0;
  padding: 3px 7px 4px 7px;
  background: #3e78ad;
  color: #fff;
  border: 1px solid #3a66ad;
  border-radius: 3px;
}

// .login-button:hover{
//   cursor: pointer;
//   opacity: 0.80
// }

.login-button:hover, .signup-button:hover, .guest-button:hover {
  cursor: pointer;
  color: transparent;
  background-color: #3a66ad;
}

.guest-button {
  float: right;
  font-size: 15px;
  line-height: 1.4;
  font-weight: 500;
  outline: 0;
  padding: 3px 7px 4px 7px;
  background: #3e78ad;
  color: #fff;
  border: 1px solid #3a66ad;
  border-radius: 3px;
}

.signup-button {
  float: right;
  font-size: 15px;
  line-height: 1.4;
  font-weight: 500;
  outline: 0;
  padding: 3px 7px 4px 7px;
  background: #3e78ad;
  color: #fff;
  border: 1px solid #3a66ad;
  border-radius: 3px;
}

.errors {
  list-style: none;
  color: red;
  font-family: 'Open Sans',sans-serif;
}

.article-of-the-day {
  width: 500px;
  height: auto;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  margin-left: 8%;
  margin-top: 8%;
  color: rgb(110, 152, 204);
  align-content: center;
  background-color: white;
}

.frontpage-image {
  width: 1000px;
  height: auto;
}
